table.list tr:first-child {
  background-color: rgb(200,200,200);
}

.list > * {
  width: 100%;
}

#com_list {
  border: 1px solid;
  float: left;
  margin-left: 10%;
}

#room_list {
  border: 1px solid;
  float: right;
  margin-right: 10%;
}
