
.list > * {
  width: 100%;
}

#com_list {
  border: 1px solid;
  float: left;
  margin: 0px;
  margin-left: 10%;
  width: 39%;
}

#room_list {
  border: 1px solid;
  float: right;
  margin: 0px;
  margin-right: 10%;
  width: 39%;
}

#attr_list {
  border: 1px solid;
  float: right;
  margin: 0px;
  margin-right: 10%;
  width: 39%;
  text-align: center;
}
