html {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  background-image:url("BackgroundGeneral.png");
}

body{
  margin-top: 7%;   
  font-family: "Happy Monkey";
  text-align:center;
}

h1 {
    text-align: center;
    color:#000000;

}

#front_example{
    text-align: center;
    color:#FFFFFF;
}

#main_div {
  margin-left: auto;
  margin-right: auto;
  height: 50px;
}

#main_div > * {
  height: 100%;
  display: inline;
  float: left;
}

#main_div > input {
  width: 40%;
  text-align: left;
}

.footer{
  text-align: right;
}
