html,body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  font-family: "Balthazar" !important;
  overflow: hidden;
}

body {
  padding-bottom:32px;
  text-align: center;
  background-image:url("BackgroundGeneral.png");
  background-size: 100% 100%;
}

footer {
  position: fixed;
  height: 32px;
	bottom: 0px;
  width: 100%;
}

h1 {
  text-align: center;
  color:#000000;
}

#front_example{
  text-align: center;
  color: #FFFFFF;
}

#main_div {
  margin-top: 5%;
  height: 50px;
  background-color: rgba(245, 245, 245, 0.0);
}

#main_div > * {
  height: 100%;
}

#main_div > img {
  margin-bottom: 6px;
}

#main_div > input {
  text-align: left;
  font-size: 24px;
  width: 40%;
}

ul {
  margin: 0% 0px 0px 0px;
  padding: 0px;
  list-style-type: none;
}

#com_list ul > li {
  list-style-type: none;
  display: block;
  min-height: 16px;
  width: 98%;
  margin: 1%;
  border: 1px solid;
}
