$def with (house, hcoms, rooms)

<head>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
  <link href='http://fonts.googleapis.com/css?family=Happy+Monkey' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="/static/style.css">
  <link rel="stylesheet" type="text/css" href="/static/list_style.css">
</head>

<body>
  <h1>$house.name</h1>
  
  
  <div id='com_list' class='list'>
    <ul>
      $for com in hcoms:
        $com.com
    </ul>
    <div id='com_box' contentEditable='true'></div>
    <input type='button' value='Comment'>
  </div>

  <div id='room_list' class='list'>
    <table>
      <tr>
        <td>Room #</td>
      </tr>
      $for r in rooms:
        <tr>
          <td>$r.id</td>
        </tr>
    </table>
  </div>

</body>
