$def with (house, hcoms, rooms)

<!DOCTYPE html>
<html>
  <head>
      <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
      <script src='/static/jquery.slimscroll.min.js'></script>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Balthazar' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <link rel="stylesheet" type="text/css" href="/static/list_style.css">
  </head>

  <script>
    function load() {
      $$('#sub_com > ul').slimScroll({
        height: '100%',
        width: '100%'
      });
      
      $$('#com_box').slimScroll({
        height: '100%',
        width: '100%'
      });
      
      $$('#sub_room').slimScroll({
        height: '100%',
        width: '100%'
      });
    }
    
    function doComment() {
      var com = $$('#com_box').html();
      $$.ajax({
        type: 'POST',
        success: function(result) {
          location.reload()
        },
        processData: false,
        data: com
      });
    }
  </script>

  <body onload="load()">
    
    <nav class="navbar navbar-default navbar-static-top" role="navigation">
        <ul style='width:100%' class="nav navbar-nav">
          <li style='font-weight: 700; font-size: 125%'><a href="/">Penn Room Review</a></li>

          <li class='pull-right'><a href="/about">About</a></li>
        </ul>
    </nav>
    
    
    <h1>$house.name</h1>
    
    <div id='com_list' class='list'>
      <div id='sub_com' style='height: 68%; margin: 1% 0 1% 0'>
        $if len(hcoms) == 0:
          <span>No reviews</span>
        <ul>
          $for com in hcoms:
            <li class='comment'>$com.com</li>
        </ul>
      </div>
      <div  style='height: 24%; width: 98%; margin: 0 1% 0 1%'>
        <div id='com_box' contentEditable='true'></div>
      </div>
      <input style='height: 6%; width: 6em' type='button' value='Comment' onclick='doComment()'>
    </div>

    <div id='room_list' class='list'>
      <div id='sub_room'>
        $if len(rooms) == 0:
          <span>No rooms listed</span>
        <table class='table table-condensed table-striped'>
          $for r in rooms:
            $if loop.index0 % 15 == 0:
              <tr>
                <td>#</td>
                <td>Capacity</td>
                <td>Bedrooms</td>
                <td>Bathroom</td>
                <td>Kitchen</td>
                <td>Common Room</td>
              </tr>
            <tr>
              <td><a href='/room/$r.id'>$r.room_no</a></td>
              <td>$r.cap</td>
              <td>$r.bed</td>
              $if r.bath:
                <td>X</td>
              $else:
                <td></td>
              $if r.kit:
                <td>X</td>
              $else:
                <td></td>
              $if r.common:
                <td>X</td>
              $else:
                <td></td>
            </tr>
        </table>
      </div>
    </div>

  </body>
  <footer>
        By Krupcake, Shkoyach, Luscious, Samsicle - Copyright 2014
  </footer>
</html>
