$def with (house, room, coms)

<!DOCTYPE html>
<html>
  <head>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src='/static/jquery.slimscroll.min.js'></script>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Balthazar' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <link rel="stylesheet" type="text/css" href="/static/list_style.css">
  </head>
  
  <script>
    function load() {
      $$('#sub_com').slimScroll({
        height: '100%',
        width: '100%'
      });
    }
  </script>

  <body class="container">
    <h1>$(house.name) - $(room.room_no)</h1>
    
    <div id='com_list' class='list'>
      <div id='sub_com'>
        <ul>
          $for com in coms:
            $com.com
        </ul>
        <div id='com_box' contentEditable='true'></div>
        <input type='button' value='Comment'>
      </div>
    </div>

    <div id='lcol'>
      <img id='room_plan' src='$room.img'/>
      <table id='attr_list' class='list'>
        <tr>
          <td>Capacity</td>
          <td>$room.cap</td>
        </tr>
        <tr>
          <td>Bedrooms</td>
          <td>$room.bed</td>
        </tr>
        <tr>
          <td>Bathroom</td>
          $if room.bath:
            <td>YES</td>
          $else:
            <td>NO</td>
        </tr>
        <tr>
          <td>Kitchen</td>
          $if room.kit:
            <td>YES</td>
          $else:
            <td>NO</td>
        </tr>
        <tr>
          <td>Common Room</td>
          $if room.common:
            <td>YES</td>
          $else:
            <td>NO</td>
        </tr>
      </table>
    </div>
  </body>
</html>
