$def with (house, room, coms)

<!DOCTYPE html>
<html>
  <head>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src='/static/jquery.slimscroll.min.js'></script>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Balthazar' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <link rel="stylesheet" type="text/css" href="/static/list_style.css">
  </head>
  
  <script>
    function load() {
      $$('#sub_com > ul').slimScroll({
        height: '100%',
        width: '100%'
      });
      
      $$('#com_box').slimScroll({
        height: '100%',
        width: '100%'
      });
    }
      
    
      function doComment() {
        var com = $$('#com_box').html();
        $$.ajax({
          type: 'POST',
          success: function(result) {
            location.reload()
          },
          processData: false,
          data: com
        });
    }
  </script>

  <body onload='load()'>
    
    <nav class="navbar navbar-default navbar-static-top" role="navigation">
        <ul style='width:100%' class="nav navbar-nav">
          <li style='font-weight: 700; font-size: 125%'><a href="/">Penn Room Review</a></li>

          <li class='pull-right'><a href="/about">About</a></li>
        </ul>
    </nav>
    
    <h1>$(house.name) - $(room.room_no)</h1>
    
    <div id='com_list' class='list'>
      <div id='sub_com' style='height: 68%; margin: 1% 0 1% 0'>
        <ul>
          $if len(coms) == 0:
            <span>No reviews</span>
          $for com in coms:
            <li class='comment'>$com.com</li>
        </ul>
      </div>
      <div  style='height: 24%; width: 98%; margin: 0 1% 0 1%'>
        <div id='com_box' contentEditable='true'></div>
      </div>
      <input style='height: 6%; width: 6em' type='button' value='Comment' onclick='doComment()'>
    </div>
    
    <div id='lcol'>
      <a href='$room.img' target="_blank">
        <img id='room_plan' src='$room.img'/>
      </a>
      <table id='attr_list' class='list'>
        <tr>
          <td>Capacity</td>
          <td>$room.cap</td>
        </tr>
        <tr>
          <td>Bedrooms</td>
          <td>$room.bed</td>
        </tr>
        <tr>
          <td>Bathroom</td>
          $if room.bath:
            <td>YES</td>
          $else:
            <td>NO</td>
        </tr>
        <tr>
          <td>Kitchen</td>
          $if room.kit:
            <td>YES</td>
          $else:
            <td>NO</td>
        </tr>
        <tr>
          <td>Common Room</td>
          $if room.common:
            <td>YES</td>
          $else:
            <td>NO</td>
        </tr>
      </table>
    </div>
  </body>
  
  <footer class="navbar navbar-fixed-bottom">
    By Krupcake, Shkoyach, Luscious, Samsicle - Copyright 2014
  </footer>
</html>
